.hidden {
  display: none !important;
}

.container,
.heading-container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.heading-container {
  height: 60px;
}

.entry-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.new-row {
  margin: auto;
  padding: 0;
  margin-bottom: 2rem;
}

.row,
.new-row {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 2);
}

.column-full,
.column-half {
  margin-top: 1rem;
  width: 100%;
}

.ul-entry {
  width: 100%;
  padding-left: 26px;
  padding-right: 26px;
}

.edit-style {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

@media screen and (min-width: 768px) {
  h1 {
    margin-left: 0.75rem;
  }

  .purp-header {
    margin-left: 0.75rem;
  }

  .container,
  .heading-container,
  .ul-entry {
    max-width: 900px;
  }

  .column-full {
    margin-top: 1.5rem;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
